/* You can add global styles to this file, and also import other style files */
body{
  background-color: #539165;
  font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
  text-align: center;
}
